@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
	--body-bg-color: #faf8ef;
	--game-title-color: #776e65;
	--scoreboard-bg-color: #bbada0;
	--score-label-color: #eee4da;
	--new-game-btn-bg-color: #8f7a66;
	--new-game-btn-txt-color: #f9f6f2;
	--game-board-bg-color: #bbada0;
	--cell-bg-color: rgba(238, 228, 218, 0.35);

	--grid-size: 4;
	--game-board-side-length: 500px;
	--cell-gap: 15px;
	--cell-size: calc(calc(var(--game-board-side-length) - calc(calc(var(--grid-size) + 1) * var(--cell-gap))) / var(--grid-size));
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

button {
	background-color: none;
	outline: none;
	border: none;
	cursor: pointer;
}

body {
	background-color: var(--body-bg-color);
}

.container {
	width: 500px;
	margin: auto;
}

.heading {
	margin: 20px 0px 5px;
	display: flex;
	justify-content: space-between;
}

#game-title {
	color: var(--game-title-color);
	font-size: 80px;
}

#score-board {
	display: flex;
	height: fit-content;
}

.score {
	background-color: var(--scoreboard-bg-color);
	border-radius: 4px;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.score-label {
	margin: 10px 30px 1px;
	color: var(--score-label-color);
	font-size: 12px;
	text-transform: uppercase;
}

.score-value {
	margin: 1px 30px 5px;
	color: #ffffff;
	font-size: 25px;
	font-weight: bold;
	line-height: 1.15;
}

.toolbar {
	display: flex;
	justify-content: space-between;
}

.game-intro {
	color: var(--game-title-color);
	font-size: 18px;
}

.restart-button {
	border-radius: 4px;
	background-color: var(--new-game-btn-bg-color);
	height: fit-content;
	padding: 10px 20px;
	color: var(--new-game-btn-txt-color);
	font-size: 18px;
	font-weight: bold;
}

#game-board {
	margin-top: 30px;
	background-color: var(--game-board-bg-color);
	border-radius: 10px;
	padding: var(--cell-gap);
	position: relative;
	display: grid;
	grid-template-rows: repeat(var(--grid-size), var(--cell-size));
	grid-template-columns: repeat(var(--grid-size), var(--cell-size));
	gap: var(--cell-gap);
}

.cell {
	background-color: var(--cell-bg-color);
	border-radius: 10px;
}

/* TILE */

.tile {
	width: var(--cell-size);
	height: var(--cell-size);
	border-radius: 10px;
	position: absolute;
	left: calc((var(--c) + 1) * var(--cell-gap) + var(--c) * var(--cell-size));
	top: calc((var(--r) + 1) * var(--cell-gap) + var(--r) * var(--cell-size));
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: show 200ms ease-in-out;
	transition: 100ms ease-in-out;
}

@keyframes show {
	0% {
		opacity: 0.5;
		transform: scale(0);
	}
}
